@charset "UTF-8";

/* Fonts intégrées : Anton remplace Impact, Courier Prime remplace "Courier New" */
@font-face {
    font-family: 'Anton';
    src: url('./fonts/transfonter.org-Anton_Impact/Anton-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('./fonts/transfonter.org-Courrier-prime_Courrier-new/CourierPrime.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

main {
    gap: 2rem;
    padding: 2rem;
    text-align: center;
}

.entete {
    background-image: url("./images/entete.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;
    margin: 3rem;
    padding: 5rem;
    font-family: rubik, sans-serif;
    border-radius: 10px;
}

.entete div {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    margin: 3rem;
    padding: 3rem;
}


button {
    color: white;
    text-decoration: none;
}



h3 {
    color: #701E39;
}

section {
    background: linear-gradient(180deg, #f4ebe0 0%, white 100%);
    display: flex;
    gap: 2rem;
    margin: 40px 0;
    padding: 2rem;
    border-radius: 10px;
}

/* Article = texte */
section>article {
    flex: 1;
    padding: 1rem;
}

/* Figure = image */
section>figure {
    flex: 1;
}

section>figure img {
    border-radius: 0.5em;
    width: 100%;
}

main p {
    font-family: Courier New;
}

main h1,
h2,
h3 {

    font-family: Impact;
}

section:nth-of-type(2) {
    flex-direction: row-reverse;
}